In [ ]:
a = dsbdvvbdvasdbavdvadnbvanvbda


hjghjgjgjvnasdvnvdnavdnavdn

nabnavdnavdnavdnasvdavdavdhadcsahsvd

agsdavdhavdavdvadbdvnajahsdgjgdjgqdgqjgd

adsvdvadahjdjhagdjgajdgjadgjagd

SyntaxError: invalid syntax (888237907.py, line 1)

In [1]:
print(a)

NameError: name 'a' is not defined

In [ ]:
# Define shout_echo
def shout_echo(word1, echo=1):
    """Concatenate echo copies of word1 and three
    exclamation marks at the end of the string."""

    # Initialize empty strings: echo_word, shout_words
    echo_word = ""
    shout_words = ""


    # Add exception handling with try-except
    try:
        # Concatenate echo copies of word1 using *: echo_word
        echo_word = word1 * echo

        # Concatenate '!!!' to echo_word: shout_words
        shout_words = echo_word + '!!!'
    except TypeError:
        # Print error message
        print("word1 must be a string and echo must be an integer.")

    # Return shout_words
    return shout_words

# Call shout_echo
shout_echo("particle", echo="accelerator")

word1 must be a string and echo must be an integer.

''

In [1]:
# Create an iterator for range(3): small_value
small_value = iter(range(3))

# Print the values in small_value
print(next(small_value))
print(next(small_value))
print(next(small_value))

# Loop over range(3) and print the values
for num in range(3):
    print(num)


# Create an iterator for range(10 ** 100): googol
googol = iter(range(10**100))

# Print the first 5 values from googol
print(next(googol))
print(next(googol))
print(next(googol))
print(next(googol))
print(next(googol))

0
1
2
0
1
2
0
1
2
3
4

In [4]:
values = range(10,20)
print(values)

range(10, 20)

In [5]:
# Create a range object: values
values = range(10, 20)

# Print the range object
print(values)

# Create a list of integers: values_list
values_list = iter(values)

# Print values_list
print(values_list)

range(10, 20)
<range_iterator object at 0x105fe81e0>

In [7]:
# Create a range object: values
values = range(10, 21)

# Print the range object
print(values)

# Create a list of integers: values_list
values_list = list(values)

# Print values_list
print(values_list)

# Get the sum of values: values_sum
values_sum = sum(values)

# Print values_sum
print(values_sum)

range(10, 21)
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
165

# iterator

In [28]:
# Define three lists containing mutant data
mutants = ['Wolverine', 'Cyclops', 'Storm', 'Mystique', 'Magneto']
aliases = ['Logan', 'Scott', 'Ororo', 'Raven', 'Erik']
powers = ['Regeneration', 'Optic Blast', 'Weather Control', 'Shapeshifting', 'Magnetism']


mutant_data = list(zip(mutants, aliases, powers))

In [29]:
print(mutant_data)

[('Wolverine', 'Logan', 'Regeneration'), ('Cyclops', 'Scott', 'Optic Blast'), ('Storm', 'Ororo', 'Weather Control'), ('Mystique', 'Raven', 'Shapeshifting'), ('Magneto', 'Erik', 'Magnetism')]

In [30]:
# Print the zip object (memory address)
print("\nZip Object (mutant_zip):")
print(mutant_zip)

Zip Object (mutant_zip):
<zip object at 0x10740f5c0>

In [31]:
for value1, value2, value3 in mutant_zip:
    print(value1, value2, value3)

In [23]:
print(*mutant_data)

('Wolverine', 'Logan', 'Regeneration') ('Cyclops', 'Scott', 'Optic Blast') ('Storm', 'Ororo', 'Weather Control') ('Mystique', 'Raven', 'Shapeshifting') ('Magneto', 'Erik', 'Magnetism')

____

In [42]:
studemt = ['a', 'b', 'c', 'd', 'e']
marks = [10, 20, 30, 40, 50]
course = ['maths', 'science', 'english', 'hindi', 'social']

student_data = zip(studemt, marks, course)

In [43]:
# printing without unpack the zip object
print(student_data)

<zip object at 0x107415500>

In [44]:
# unpack the zip object and print the values
print(list(student_data))

[('a', 10, 'maths'), ('b', 20, 'science'), ('c', 30, 'english'), ('d', 40, 'hindi'), ('e', 50, 'social')]

In [46]:
studemt = ['a', 'b', 'c', 'd', 'e']
marks = [10, 20, 30, 40, 50]
course = ['maths', 'science', 'english', 'hindi', 'social']

student_data = zip(studemt, marks, course)

In [47]:
print(*student_data)

('a', 10, 'maths') ('b', 20, 'science') ('c', 30, 'english') ('d', 40, 'hindi') ('e', 50, 'social')

In [5]:
import pandas as pd

df = pd.read_csv('word_population_data.csv')
df.dropna(inplace=True)

In [6]:
df

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20

In [8]:
count_dics = {}

for chunk in pd.read_csv('word_population_data.csv', chunksize=10):
    for entry in chunk['Capital']:
        if entry in count_dics.keys():
            count_dics[entry] += 1
        else:
            count_dics[entry] = 1

print(count_dics)

{'Kabul': 1, 'Tirana': 1, 'Algiers': 1, 'Pago Pago': 1, 'Andorra la Vella': 1, 'Luanda': 1, 'The Valley': 1, 'Saint John’s': 1, 'Buenos Aires': 1, 'Yerevan': 1, 'Oranjestad': 1, 'Canberra': 1, 'Vienna': 1, 'Baku': 1, 'Nassau': 1, 'Manama': 1, 'Dhaka': 1, 'Bridgetown': 1, 'Minsk': 1, 'Brussels': 1, 'Belmopan': 1, 'Porto-Novo': 1, 'Hamilton': 1, 'Thimphu': 1, 'Sucre': 1, 'Sarajevo': 1, 'Gaborone': 1, 'Brasilia': 1, 'Road Town': 1, 'Bandar Seri Begawan': 1, 'Sofia': 1, 'Ouagadougou': 1, 'Bujumbura': 1, 'Phnom Penh': 1, 'Yaounde': 1, 'Ottawa': 1, 'Praia': 1, 'George Town': 1, 'Bangui': 1, "N'Djamena": 1, 'Santiago': 1, 'Beijing': 1, 'Bogota': 1, 'Moroni': 1, 'Avarua': 1, 'San José': 1, 'Zagreb': 1, 'Havana': 1, 'Willemstad': 1, 'Nicosia': 1, 'Prague': 1, 'Copenhagen': 1, 'Djibouti': 1, 'Roseau': 1, 'Santo Domingo': 1, 'Kinshasa': 1, 'Quito': 1, 'Cairo': 1, 'San Salvador': 1, 'Malabo': 1, 'Asmara': 1, 'Tallinn': 1, 'Mbabane': 1, 'Addis Ababa': 1, 'Stanley': 1, 'Tórshavn': 1, 'Suva': 1, 'Helsinki': 1, 'Paris': 1, 'Cayenne': 1, 'Papeete': 1, 'Libreville': 1, 'Banjul': 1, 'Tbilisi': 1, 'Berlin': 1, 'Accra': 1, 'Gibraltar': 1, 'Athens': 1, 'Nuuk': 1, "Saint George's": 1, 'Basse-Terre': 1, 'Hagåtña': 1, 'Guatemala City': 1, 'Saint Peter Port': 1, 'Conakry': 1, 'Bissau': 1, 'Georgetown': 1, 'Port-au-Prince': 1, 'Tegucigalpa': 1, 'Hong Kong': 1, 'Budapest': 1, 'Reykjavík': 1, 'New Delhi': 1, 'Jakarta': 1, 'Tehran': 1, 'Baghdad': 1, 'Dublin': 1, 'Douglas': 1, 'Jerusalem': 1, 'Rome': 1, 'Yamoussoukro': 1, 'Kingston': 1, 'Tokyo': 1, 'Saint Helier': 1, 'Amman': 1, 'Nursultan': 1, 'Nairobi': 1, 'Tarawa': 1, 'Kuwait City': 1, 'Bishkek': 1, 'Vientiane': 1, 'Riga': 1, 'Beirut': 1, 'Maseru': 1, 'Monrovia': 1, 'Tripoli': 1, 'Vaduz': 1, 'Vilnius': 1, 'Luxembourg': 1, 'Concelho de Macau': 1, 'Antananarivo': 1, 'Lilongwe': 1, 'Kuala Lumpur': 1, 'Malé': 1, 'Bamako': 1, 'Valletta': 1, 'Majuro': 1, 'Fort-de-France': 1, 'Nouakchott': 1, 'Port Louis': 1, 'Mamoudzou': 1, 'Mexico City': 1, 'Palikir': 1, 'Chisinau': 1, 'Monaco': 1, 'Ulaanbaatar': 1, 'Podgorica': 1, 'Brades': 1, 'Rabat': 1, 'Maputo': 1, 'Nay Pyi Taw': 1, 'Windhoek': 1, 'Yaren': 1, 'Kathmandu': 1, 'Amsterdam': 1, 'Nouméa': 1, 'Wellington': 1, 'Managua': 1, 'Niamey': 1, 'Abuja': 1, 'Alofi': 1, 'Pyongyang': 1, 'Skopje': 1, 'Saipan': 1, 'Oslo': 1, 'Muscat': 1, 'Islamabad': 1, 'Ngerulmud': 1, 'Ramallah': 1, 'Panama City': 1, 'Port Moresby': 1, 'Asunción': 1, 'Lima': 1, 'Manila': 1, 'Warsaw': 1, 'Lisbon': 1, 'San Juan': 1, 'Doha': 1, 'Brazzaville': 1, 'Saint-Denis': 1, 'Bucharest': 1, 'Moscow': 1, 'Kigali': 1, 'Gustavia': 1, 'Basseterre': 1, 'Castries': 1, 'Marigot': 1, 'Saint-Pierre': 1, 'Kingstown': 1, 'Apia': 1, 'San Marino': 1, 'São Tomé': 1, 'Riyadh': 1, 'Dakar': 1, 'Belgrade': 1, 'Victoria': 1, 'Freetown': 1, 'Singapore': 1, 'Philipsburg': 1, 'Bratislava': 1, 'Ljubljana': 1, 'Honiara': 1, 'Mogadishu': 1, 'Pretoria': 1, 'Seoul': 1, 'Juba': 1, 'Madrid': 1, 'Colombo': 1, 'Khartoum': 1, 'Paramaribo': 1, 'Stockholm': 1, 'Bern': 1, 'Damascus': 1, 'Taipei': 1, 'Dushanbe': 1, 'Dodoma': 1, 'Bangkok': 1, 'Dili': 1, 'Lomé': 1, 'Nukunonu': 1, 'Nuku‘alofa': 1, 'Port-of-Spain': 1, 'Tunis': 1, 'Ankara': 1, 'Ashgabat': 1, 'Cockburn Town': 1, 'Funafuti': 1, 'Kampala': 1, 'Kiev': 1, 'Abu Dhabi': 1, 'London': 1, 'Washington, D.C.': 1, 'Charlotte Amalie': 1, 'Montevideo': 1, 'Tashkent': 1, 'Port-Vila': 1, 'Vatican City': 1, 'Caracas': 1, 'Hanoi': 1, 'Mata-Utu': 1, 'El Aaiún': 1, 'Sanaa': 1, 'Lusaka': 1, 'Harare': 1}

# LIST COMPREHENSION

In [10]:
# Create a 5 x 5 matrix using a list of lists: matrix
matrix = [[col for col in range(5)] for row in range(5)]

# Print the matrix
for row in matrix:
    print(row)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [6]:
print(matrix)

[[range(0, 4)]]

In [ ]:
[n]