In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df1 = pd.read_csv('data1.csv')
df2 = pd.read_csv('data2.csv', sep=';')
df3= pd.read_csv('data3.csv', sep=';')

In [4]:
df1

,TransactionID,Timestamp,CustomerID,Name,Surname,Shipping_State,Item,Description,Retail_Price,Loyalty_Discount
0,113255,2016-12-13 18:05:37,200000663,Leonard,Jackson,Delaware,8619953091,Pillowcase,18.96,0.02
1,113254,2016-12-13 18:05:22,200000661,Lucas,Abraham,Louisiana,2020397001,Men's Pajama Set,23.10,0.00
2,113253,2016-12-13 18:03:57,200000662,Trevor,Skinner,Louisiana,4681342313,Sheets,29.90,0.10
3,113252,2016-12-13 18:01:45,100000007,Dorothy,Thomson,Alabama,6697166886,Coat,159.80,0.07
4,113251,2016-12-13 18:01:22,400000180,Eric,Bower,New Hampshire,6697166886,Coat,159.80,0.06
...,...,...,...,...,...,...,...,...,...,...
3450,109805,2016-12-10 18:08:49,200000662,Trevor,Skinner,Louisiana,4619440506,Shorts,69.75,0.10
3451,109804,2016-12-10 18:08:36,100000854,Carl,Clark,Kentucky,5153370805,Shorts,43.96,0.02
3452,109803,2016-12-10 18:08:24,200000793,Charles,McDonald,Utah,3123824581,Sweatpants,43.89,0.06
3453,109802,2016-12-10 18:08:03,200000263,Gabrielle,Marshall,Michigan,9195451761,Hand Towel,51.66,0.07
3454,109801,2016-12-10 18:07:25,200000670,Richard,Carr,Louisiana,6660530324,Washcloth,35.14,0.05

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3455 entries, 0 to 3454
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   TransactionID     3455 non-null   int64
 1   Timestamp         3455 non-null   object
 2   CustomerID        3455 non-null   int64
 3   Name              3455 non-null   object
 4   Surname           3455 non-null   object
 5   Shipping_State    3455 non-null   object
 6   Item              3455 non-null   int64
 7   Description       3455 non-null   object
 8   Retail_Price      3455 non-null   float64
 9   Loyalty_Discount  3455 non-null   float64
dtypes: float64(2), int64(3), object(5)
memory usage: 270.0+ KB

In [6]:
df1.nunique()

TransactionID       3455
Timestamp           3434
CustomerID           942
Name                 165
Surname              150
Shipping_State        50
Item                 126
Description           68
Retail_Price         110
Loyalty_Discount      11
dtype: int64

In [7]:
df1['retail_mean'] = df1.groupby('Description')['Retail_Price'].transform('mean')

In [10]:
df1

,TransactionID,Timestamp,CustomerID,Name,Surname,Shipping_State,Item,Description,Retail_Price,Loyalty_Discount,retail_mean
0,113255,2016-12-13 18:05:37,200000663,Leonard,Jackson,Delaware,8619953091,Pillowcase,18.96,0.02,18.960000
1,113254,2016-12-13 18:05:22,200000661,Lucas,Abraham,Louisiana,2020397001,Men's Pajama Set,23.10,0.00,52.231200
2,113253,2016-12-13 18:03:57,200000662,Trevor,Skinner,Louisiana,4681342313,Sheets,29.90,0.10,29.900000
3,113252,2016-12-13 18:01:45,100000007,Dorothy,Thomson,Alabama,6697166886,Coat,159.80,0.07,100.910402
4,113251,2016-12-13 18:01:22,400000180,Eric,Bower,New Hampshire,6697166886,Coat,159.80,0.06,100.910402
...,...,...,...,...,...,...,...,...,...,...,...
3450,109805,2016-12-10 18:08:49,200000662,Trevor,Skinner,Louisiana,4619440506,Shorts,69.75,0.10,57.827195
3451,109804,2016-12-10 18:08:36,100000854,Carl,Clark,Kentucky,5153370805,Shorts,43.96,0.02,57.827195
3452,109803,2016-12-10 18:08:24,200000793,Charles,McDonald,Utah,3123824581,Sweatpants,43.89,0.06,43.890000
3453,109802,2016-12-10 18:08:03,200000263,Gabrielle,Marshall,Michigan,9195451761,Hand Towel,51.66,0.07,34.033684
3454,109801,2016-12-10 18:07:25,200000670,Richard,Carr,Louisiana,6660530324,Washcloth,35.14,0.05,22.960000