In [6]:
x = 10
y= 0

if x > 5:
    print("Hello world")
    if y == 0:
        print("Teslim")
else:
    print("not coorect")

Hello world
Teslim
Hello world
Teslim

In [1]:
x = 10
y =  5
m = 3

if x > y and y < m:
    print("Hello")
else:
    print("nothing")

nothing
nothing

In [3]:
# either of the conditions needs to be true
x = 10
y =  5
m = 3

if x > y or y < m:
    print("Hello")
else:
    print("nothing")

Hello
Hello

In [5]:
x = 30
y = 20

if x > y or x ==10: print("X is greater than y")

X is greater than y
X is greater than y

In [9]:
y = 7

if y < 8: print("h")

h
h

In [10]:
mobile = 9

if mobile > 8:
    print("You are qualified for a draw")
else:
    print("Your number is below the standard")

You are qualified for a draw
You are qualified for a draw

In [11]:
age = 1977

if age ==1977:
    print("You are amazing baby")
else:
    print("you are just an orders")

You are amazing baby
You are amazing baby

In [15]:
year = 1977
month = 'oct'

if month == 'oct' or year > 1977:
    print("You are a gen")
else:
    print("Welcome")

You are a gen
You are a gen

In [16]:
year = 1977
month = 'oct'

if month == 'oct' and year > 1977:
    print("You are a gen")
else:
    print("Welcome")

Welcome
Welcome

In [19]:
print("You are a gen") if month == 'oct' and year > 1977 else print("Welcome")

Welcome
Welcome

In [20]:
year = 1977
month = 'oct'

if month == 'oct' or year > 1977:
    print("You are a gen")
else:
    print("Welcome")

You are a gen
You are a gen

In [21]:
print("You are a gen") if month == 'oct' or year > 1977 else print("Welcome")

You are a gen
You are a gen

In [24]:
name = "Teslim"
age = 30

if name == "Teslim" and age == 30:
    print("Your name is Teslim, and you are 30 years old.")
    if age > 24:
        print("You are not less than 30 years old.")
    else:  
        print("Re-apply")
else:
    print("Kindly Reconfirm The Information.")

Your name is Teslim, and you are 30 years old.
You are less than 30 years old.
Your name is Teslim, and you are 30 years old.
You are less than 30 years old.

In [31]:
x = 100

# first level 
if x > 80:
    print("X is still greater than this")
    
    # nested statement
    if x > 200:
        print("X is greater than 200")
    else:
        print("X is less than 200")

        # Nested statement
        if x != 100:
            print("X is equals to 100")
        else:
            print("check this if there is no mistake")
else:
    print("none of the above is correct")

X is still greater than this
X is less than 200
check this if there is no mistake
X is still greater than this
X is less than 200
check this if there is no mistake

In [32]:
x = 100

# first level 
if x < 80:
    print("X is still greater than this")
    
    # nested statement
    if x > 200:
        print("X is greater than 200")
    else:
        print("X is less than 200")

        # Nested statement
        if x != 100:
            print("X is equals to 100")
        else:
            print("check this if there is no mistake")
else:
    print("none of the above is correct")

none of the above is correct
none of the above is correct

In [44]:
mark = 2

if mark >= 90:
    print("Excellence")

elif mark >= 50:
    print("Average")

elif mark >= 30:
    print("poor")

else:
    print('fail')

fail
fail

In [49]:
salary 

if salary > 100000:
    print("You are above average income")

elif salary < 10000:
    print('You are living below average')

else:
    print("No information about wages")

You are living below average
You are living below average

In [51]:
x = 30
y = 10
m = 10

if x == y:
    print("X is equals y")
elif y == m:
    print("y is equals m")

elif x > y:
    print("x is greater than y")

y is equals m
y is equals m

In [53]:
house = 57

if house == 57:
    print("This is the house ")
else: 
    print("You are in a wrong plcae")

This is the house
This is the house

In [57]:
location = 57

if location == 'Auto Shop':
    print('Welcome to the Auto Shop!')
elif location == 'Bank':
    print('Welcome to the bank!')
else:
    print('Where are you?')

Where are you?
Where are you?

In [1]:
x = 5
y = 10


if x > y and x > 0:
    print("x is greater than y")

In [6]:
list = ['a', 'b','c', 'd' ,5]

for i in list:
    print(i)

a
b
c
d
5
a
b
c
d
5

In [16]:
list = [2,4,5,6]

for m in list:
    output = 5 + i
    print("The show of ", m , "is", output)

The show of  2 is 11
The show of  4 is 11
The show of  5 is 11
The show of  6 is 11
The show of  2 is 11
The show of  4 is 11
The show of  5 is 11
The show of  6 is 11

In [20]:
Names = ['Teslim', 'Faizah', 'Iyabo', 'Fahrid']

for name in Names:
    print(name)

Teslim
Faizah
Iyabo
Fahrid
Teslim
Faizah
Iyabo
Fahrid

In [36]:


for x in range(2, 22,2):
    sum = sum + x
    print(sum)

772
776
782
790
800
812
826
842
860
880
772
776
782
790
800
812
826
842
860
880

In [26]:
# initiate a statement
sum = 0

# Iterative Statement
for i in range(2, 22, 2):
    sum = sum + i
print(sum)

110
110

In [42]:
result = 0

for i in range(1, 10):
    result = i + 100
    print(result)

101
102
103
104
105
106
107
108
109
101
102
103
104
105
106
107
108
109

In [52]:
for i in range(10, 0, -1):
    print(i)

10
9
8
7
6
5
4
3
2
1
10
9
8
7
6
5
4
3
2
1

In [50]:
for i in range(2, 10, 1):
    print(i)

2
3
4
5
6
7
8
9
2
3
4
5
6
7
8
9

In [53]:
for x in range(50, 5, -5):
    print(x)

50
45
40
35
30
25
20
15
10
50
45
40
35
30
25
20
15
10

In [56]:
for x in reversed(range(5,50, 5)):
    print(x)

45
40
35
30
25
20
15
10
5
45
40
35
30
25
20
15
10
5

In [61]:
x = [-5,2,3, 0]

for i in x:
    if i > 0:
        print(" The", i, "is greater than", str(0))
    else:
        print("Check the",i)

Check the -5
 The 2 is greater than 0
 The 3 is greater than 0
Check the 0
Check the -5
 The 2 is greater than 0
 The 3 is greater than 0
Check the 0

### Accessing index with loop

In [5]:
x = [2,4,5,6]

for index, values in enumerate(x):
    print(f'Numbers {index} : ', values)

Numbers 0 :  2
Numbers 1 :  4
Numbers 2 :  5
Numbers 3 :  6

In [6]:
y = [1,2,3,4,5]

for index, values in enumerate(y):
    print(f'Numbers {index} : ', values)

Numbers 0 :  1
Numbers 1 :  2
Numbers 2 :  3
Numbers 3 :  4
Numbers 4 :  5

In [7]:
details = [2,4,5,6,6,7,8,9,10]

len(details)

9

In [8]:
range(len(details))

range(0, 9)

In [9]:
for i in range(len(details)):
    print(i)

0
1
2
3
4
5
6
7
8

In [10]:
a = [1,2,3,4,5,6,7,8,9,10]

for i in range(2, len(a)):
    print(i)

2
3
4
5
6
7
8
9

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]

In [1]:
def shout():
    print("Hello World")

# call the function
shout()

Hello World

In [1]:
def new_year_message():
    wish = "Happy New Year and More Blessing"
    print(wish)

Happy New Year and More Blessing
Happy New Year and More Blessing

In [3]:
# call the function 
new_year_message()

Happy New Year and More Blessing
Happy New Year and More Blessing

In [11]:
def message(president):
    wish = president  + "Happy New Year and More Blessing"
    return "a"


a =

In [13]:
def name_school(issi):
    message = issi + "welcome"
    return message

a = name_school("isolo")
print(a)

isolowelcome
isolowelcome

In [1]:
name = [1,2,3,4]

for a, b in enumerate(name):
    print(f"index",a, "number", b)

index 0 number 1
index 1 number 2
index 2 number 3
index 3 number 4
index 0 number 1
index 1 number 2
index 2 number 3
index 3 number 4

In [3]:
tup = (2,4,"t")

for item in tup:
    print(item)

2
4
t
2
4
t

In [10]:
members = {"name1": "Teslim", "name2": "Olumide", "name3": "iyabo"}

for a, b in members.items():
    print(a)

name1
name2
name3
name1
name2
name3