## Data and Libraries import

In [85]:
import pandas as pd
import numpy as np

file_path = r'/Users/teslim/OneDrive/generaldata/15_data_Ch_4_1.xlsx'

In [86]:
data_file_page_1 = pd.read_excel(file_path, sheet_name=1)
data_file_page_1.head()

,Fund_id,Beta,RiskFreeRate,MarkertReturnRate,StandardDeviation,Returns
0,Fund_ 1,0.77,0.035,0.0543,0.0521,-0.057763
1,Fund_ 2,0.73,0.035,0.0543,0.0346,0.023262
2,Fund_ 3,1.00,0.035,0.0543,0.0445,-0.027454
3,Fund_ 4,0.94,0.035,0.0543,0.0485,0.040554
4,Fund_ 5,1.02,0.035,0.0543,0.0579,-0.034595

In [87]:
data_file_page_2 = pd.read_excel(file_path, sheet_name=2)
data_file_page_2.head()

,Fund_id,Returns,NAV,fund_age,expenses_ratio,manager_tenure,fund_size
0,Fund_ 1,-0.057763,537.77,36.38,1.41,8.33,523.84
1,Fund_ 2,0.023262,199.24,25.78,1.05,0.92,780.56
2,Fund_ 3,-0.027454,164.00,39.84,1.99,2.00,160.86
3,Fund_ 4,0.040554,117.62,18.06,3.51,18.67,117.62
4,Fund_ 5,-0.034595,53.98,56.31,6.85,7.42,5315.00

### Data Cleaning and Preprocessing

In [102]:
def clean_column_names(df):
    df.columns = df.columns.str.strip()
    df.columns = df.columns.str.lower()
    df.columns = df.columns.str.replace(' ', '_')
    return df


clean_column_names(data_file_page_1)

,fund_id,beta,riskfreerate,markertreturnrate,standarddeviation,returns
0,Fund_ 1,0.77,0.035,0.0543,0.0521,-0.057763
1,Fund_ 2,0.73,0.035,0.0543,0.0346,0.023262
2,Fund_ 3,1.00,0.035,0.0543,0.0445,-0.027454
3,Fund_ 4,0.94,0.035,0.0543,0.0485,0.040554
4,Fund_ 5,1.02,0.035,0.0543,0.0579,-0.034595
5,Fund_ 6,0.97,0.035,0.0543,0.0438,0.029320
6,Fund_ 7,0.97,0.035,0.0543,0.0460,0.023787
7,Fund_ 8,0.88,0.035,0.0543,0.0588,0.019570
8,Fund_ 9,1.13,0.035,0.0543,0.0534,0.010891
9,Fund_ 10,0.80,0.035,0.0543,0.0364,0.027380
10,Fund_ 11,0.97,0.035,0.0543,0.0562,0.001506
11,Fund_ 12,0.97,0.035,0.0543,0.0519,0.039334
12,Fund_ 13,1.04,0.035,0.0543,0.0511,-0.018080
13,Fund_ 14,1.09,0.035,0.0543,0.0485,0.042553
14,Fund_ 15,0.72,0.035,0.0543,0.0372,0.053575
15,Fund_ 16,1.02,0.035,0.0543,0.0456,0.011799
16,Fund_ 17,1.08,0.035,0.0543,0.0525,-0.033941
17,Fund_ 18,0.98,0.035,0.0543,0.0422,0.026713
18,Fund_ 19,0.95,0.035,0.0543,0.0463,0.017146
19,Fund_ 20,0.71,0.035,0.0543,0.0373,0.018682
20,Fund_ 21,0.99,0.035,0.0543,0.0351,0.019504
21,Fund_ 22,1.50,0.035,0.0543,0.0147,0.020009
22,Fund_ 23,0.99,0.035,0.0543,0.0426,0.055120
23,Fund_ 24,0.97,0.035,0.0543,0.0447,0.040455
24,Fund_ 25,1.19,0.035,0.0543,0.0530,0.057316
25,Fund_ 26,1.08,0.035,0.0543,0.0242,0.025105
26,Fund_ 27,1.11,0.035,0.0543,0.0435,0.027650
27,Fund_ 28,0.92,0.035,0.0543,0.0505,0.014087
28,Fund_ 29,1.52,0.035,0.0543,0.0694,0.027902
29,Fund_ 30,0.79,0.035,0.0543,0.0254,0.098552
30,Fund_ 31,1.20,0.035,0.0543,0.0346,0.026166
31,Fund_ 32,1.13,0.035,0.0543,0.0531,0.044948
32,Fund_ 33,1.15,0.035,0.0543,0.0505,0.014087
33,Fund_ 34,1.03,0.035,0.0543,0.0469,0.041309
34,Fund_ 35,0.96,0.035,0.0543,0.0448,0.051406
35,Fund_ 36,1.22,0.035,0.0543,0.0558,0.023485
36,Fund_ 37,0.99,0.035,0.0543,0.0427,0.025625
37,Fund_ 38,1.20,0.035,0.0543,0.0356,0.037007
38,Fund_ 39,0.98,0.035,0.0543,0.0455,0.017190
39,Fund_ 40,1.01,0.035,0.0543,0.0487,0.047663
40,Fund_ 41,1.22,0.035,0.0543,0.0523,0.037782
41,Fund_ 42,1.05,0.035,0.0543,0.0492,0.044438
42,Fund_ 43,1.04,0.035,0.0543,0.0437,0.051556
43,Fund_ 44,1.50,0.035,0.0543,0.0462,0.039726
44,Fund_ 45,0.95,0.035,0.0543,0.0477,0.002745
45,Fund_ 46,1.50,0.035,0.0543,0.0376,0.044673
46,Fund_ 47,1.50,0.035,0.0543,0.0458,0.050250
47,Fund_ 48,1.14,0.035,0.0543,0.0555,0.028529
48,Fund_ 49,0.97,0.035,0.0543,0.0461,0.044205
49,Fund_ 50,0.83,0.035,0.0543,0.0459,0.040828

## 1. Pandas Inner Join
_____

In [ ]:
# check the columns of the data frame 1
data_file_page_1.info()

In [ ]:
# check the shape of the data
data_file_page_2.info()

Inner join is a type of join that returns only the rows that have matching values in both tables. This means that if the two tables have a row with the same value in the column that we are joining on, that row will be included in the result set. 

The syntax for an pandas inner join is as follows:

```python
df1.merge(df2, on='column_name', how='inner, suffixes=('_df1', '_df2'))
``` 

where
- `df1` and `df2` are the two DataFrames to join
- `column_name` is the column name to join the two DataFrames on
- `how='inner'` specifies that we want to perform an inner join

_____

In [ ]:
data_combined_inner_join = data_file_page_1.merge(data_file_page_2, on='Fund_id', how='inner').head()
data_combined_inner_join.head()

In [ ]:
# checking the shape of the combined data
data_combined_inner_join.info()

### Using suffixes to differentiate the columns

We can use the `suffixes` parameter to specify a custom suffix for the columns that have the same name in the two DataFrames. This can be useful when the two DataFrames have columns with the same name that we do not want to join on, but we still want to keep both columns in the result set.  

The syntax for an inner join with suffixes is as follows:

```python
df1.merge(df2, on='column_name', how='inner', suffixes=('_df1', '_df2'))
``` 

where
- `df1` and `df2` are the two DataFrames to join
- `column_name` is the column name to join the two DataFrames on
- `how='inner'` specifies that we want to perform an inner join
- `suffixes=('_df1', '_df2')` specifies the suffixes to use for the columns that have the same name in the two DataFrames

## 2. One to Many Relationship

The one to many relationship is a type of relationship where one row in one table can be related to one or more rows in another table. This is achieved by having a foreign key in the many table that references the primary key in the one table. 

In this case, we can perform an inner join between the two tables on the foreign key column to get the rows that have matching values in both tables.

In [49]:
#

## 3. Merging multipleDataFrames

The sytax for merging multiple DataFrames is as follows:

```python
df1.merge(df2, on='column_name', how='inner').merge(df3, on='column_name', how='inner')
``` 

where
- `df1`, `df2`, and `df3` are the DataFrames to join
- `column_name` is the column name to join the DataFrames on
- `how='inner'` specifies that we want to perform an inner join

In [ ]:
# merging the data page 1 and 2 to get the data for the first group
data_combined_multiple_join_1 = data_combined_inner_join.merge(data_file_page_2, on="Fund_id", suffixes=("_x", "_y"))
data_combined_multiple_join_1.head()

In [ ]:
# checking the columns of the data
data_combined_multiple_join_1.columns

In [ ]:
# importing the data for page 5 of the excel file

data_file_page_5 = pd.read_excel(file_path, sheet_name=5)
data_file_page_5.head()

In [ ]:
# confirming the columns of the data to determined the columns to merge on
data_file_page_5.columns

In [ ]:
# merging the data for the first group with the data for page 5
data_combined_multiple_join_2 = data_combined_inner_join.merge(data_file_page_2, on="Fund_id", suffixes=("_x", "_y"))\
.merge(data_file_page_5, on='RiskFreeRate ')

data_combined_multiple_join_2.head()

In [ ]:
data_combined_multiple_join_2.info()

## 4. Left Join

The left join is a type of join that returns all the rows from the left table and the matched rows from the right table. If there is no match, the result is NULL on the right side. The sytax for left join is as follows:

```python
df1.merge(df2, on='column_name', how='left', suffixes=('_df1', '_df2'))
``` 

where
``` 

where
- `df1` and `df2` are the two DataFrames to join
- `column_name` is the column name to join the two DataFrames on
- `how='left'` specifies that we want to perform a left join

In [ ]:
file = r'/Users/teslim/OneDrive/15_data_Ch_4_1.xlsx'
data_file_page_4 = pd.read_excel(file, sheet_name=4)

data_file_page_4.head()

## 5. Right Join

The syntax provided is for merging two pandas DataFrames, `movies` and `tv_genre`, using a right join. The merge operation is performed based on the columns `id` from the `movies` DataFrame and `movie_id` from the `tv_genre` DataFrame. Here is the complete syntax:

In [42]:
# Assuming movies and tv_genre are already defined DataFrames
# tv_movies = movies.merge(tv_genre, how='right', left_on='id', right_on='movie_id')



### Explanation:
- `movies.merge(tv_genre, how='right', left_on='id', right_on='movie_id')`: This line merges the `movies` DataFrame with the `tv_genre` DataFrame.
  - `how='right'`: Specifies that a right join should be performed. This means all rows from the `tv_genre` DataFrame will be included, and only matching rows from the `movies` DataFrame will be included.
  - `left_on='id'`: Specifies that the merge should be based on the `id` column from the `movies` DataFrame.
  - `right_on='movie_id'`: Specifies that the merge should be based on the `movie_id` column from the `tv_genre` DataFrame.

### Example:
Here is an example with sample data:

In [ ]:
import pandas as pd

# Sample data for movies DataFrame
movies = pd.DataFrame({
    'id': [1, 2, 3],
    'title': ['Movie A', 'Movie B', 'Movie C']
})

print(movies)

In [ ]:
# Sample data for tv_genre DataFrame
tv_genre = pd.DataFrame({
    'movie_id': [2, 3, 4],
    'genre': ['Comedy', 'Drama', 'Action']
})

print(tv_genre)

In [ ]:
# Merging the DataFrames
tv_movies = movies.merge(tv_genre, how='right', left_on='id', right_on='movie_id')

print(tv_movies)



In this example, the resulting `tv_movies` DataFrame includes all rows from the `tv_genre` DataFrame and the matching rows from the `movies` DataFrame. Rows from `tv_genre` that do not have a matching `id` in `movies` will have `NaN` values for the columns from `movies`.

## 6.Merging a Table to itself

In [ ]:
data_file_page_1.head()

In [ ]:
data_file_page_1.columns = data_file_page_1.columns.str.lower().str.replace(' ', '_')
data_file_page_1.head()

In [ ]:
data_file_page_1.columns

In [ ]:
data_file_page_1.info()

In [50]:
original = data_file_page_1.merge(data_file_page_1,left_on='returns', 
                                  right_on='riskfreerate_', suffixes=('x_list', 'y_list'))

In [ ]:
data_file_page_1[data_file_page_1['fund_id'].isin(data_file_page_1['fund_id'])]

## 7. Filtering joins

In [ ]:
data_file_page_4 = pd.read_excel(file_path, sheet_name=4)
data_file_page_4.info()

In [ ]:
data_file_page_4.columns = data_file_page_4.columns.str.lower().str.replace(' ', '_')
data_file_page_4

In [ ]:
data_file_page_6 = pd.read_excel(file_path, sheet_name=6)
data_file_page_6.head()

In [ ]:
data_file_page_6.info()

In [ ]:
data_file_page_6.columns = data_file_page_6.columns.str.lower().str.replace(' ', '_')
data_file_page_6.head()

In [ ]:
# combining the data for page 4 and 6
track_combined = data_file_page_4.merge(data_file_page_6, on='fund_id', how='inner')
track_combined.head()

In [ ]:
# checking the element of data 6 that is in the track_combined
data_file_page_6['fund_id'].isin(track_combined['fund_id'])

In [ ]:

top_list = data_file_page_6[data_file_page_6['fund_id'].isin(track_combined['fund_id'])]
top_list.head()

## 8. ConcatenateDataFramestogether vertically
___

The pandas `concat` function can be used to concatenate DataFrames together vertically. This means that the rows of the DataFrames are stacked on top of each other to create a new DataFrame. The syntax for concatenating DataFrames vertically is as follows:

```python
pd.concat([df1, df2], axis=0)
``` 

where
- `df1` and `df2` are the DataFrames to concatenate
- `axis=0` specifies that the concatenation should be done along the row axis

In [90]:
file_path_1 = r'/Users/teslim/OneDrive/18-mutual_raw_data.xls'

# reading the data from the excel file
df_page_1 = pd.read_excel(file_path_1, sheet_name=4)
df_page_2 = pd.read_excel(file_path_1, sheet_name=5)
df_page_3 = pd.read_excel(file_path_1, sheet_name=6)
df_page_4 = pd.read_excel(file_path_1, sheet_name=7)
df_page_5 = pd.read_excel(file_path_1, sheet_name=8)
df_page_6 = pd.read_excel(file_path_1, sheet_name=9)
df_page_7 = pd.read_excel(file_path_1, sheet_name=10)
df_page_8 = pd.read_excel(file_path_1, sheet_name=11)
df_page_9 = pd.read_excel(file_path_1, sheet_name=12)
df_page_10 = pd.read_excel(file_path_1, sheet_name=13)
df_page_11 = pd.read_excel(file_path_1, sheet_name=14)
df_page_12 = pd.read_excel(file_path_1, sheet_name=15)
df_page_13 = pd.read_excel(file_path_1, sheet_name=16)
df_page_14 = pd.read_excel(file_path_1, sheet_name=17)
df_page_15 = pd.read_excel(file_path_1, sheet_name=18)

In [ ]:
pd_all = pd.concat([df_page_1, df_page_2, df_page_3, df_page_4, 
                    df_page_5, df_page_6, df_page_7, df_page_8, 
                    df_page_9, df_page_10, df_page_11, df_page_12, 
                    df_page_13, df_page_14, df_page_15], axis=0)

pd_all.head()

In [ ]:
pd_all.shape

Instead of concatenating DataFrames vertically one by one, we can also concatenate multiple DataFrames together at once by passing a list of DataFrame as function as shown below:

In [ ]:
# Define the file path
file_path_1 = r'/Users/teslim/OneDrive/18-mutual_raw_data.xls'

# Create an empty list to store the DataFrames
df_list = []

# Loop through the sheet numbers and read each sheet
for sheet_num in range(4, 21):
    df = pd.read_excel(file_path_1, sheet_name=sheet_num)
    df_list.append(df)

# Optionally, concatenate all DataFrames into a single DataFrame
combined_df = pd.concat(df_list, ignore_index=True, sort=False)

# Print the combined DataFrame
print(combined_df)

In [ ]:
# shape of the combined data
combined_df.shape

#### The purpose of the `ignore_index` parameter
____

The `ignore_index=True` parameter in the `pd.concat()` function is used to reset the index of the resulting concatenated DataFrame. When you concatenate multiple DataFrames, each DataFrame retains its original index by default. This can lead to duplicate or non-sequential indices in the combined DataFrame. Setting `ignore_index=True` ensures that the index of the resulting DataFrame is reset to a default integer index, which starts from 0 and increments sequentially.

Example:

Consider two DataFrames:

In [65]:
import pandas as pd

df1 = pd.DataFrame({
    'A': [1, 2, 3],
    'B': ['a', 'b', 'c']
}, index=[0, 1, 2])

df2 = pd.DataFrame({
    'A': [4, 5, 6],
    'B': ['d', 'e', 'f']
}, index=[0, 1, 2])



If you concatenate these DataFrames without `ignore_index=True`:

In [ ]:
combined_df = pd.concat([df1, df2])
print(combined_df)



Notice that the index is not unique and retains the original indices from `df1` and `df2`.

If you concatenate these DataFrames with `ignore_index=True`:

In [ ]:
combined_df = pd.concat([df1, df2], ignore_index=True)
print(combined_df)



In this case, the index is reset to a default integer index, ensuring that it is unique and sequential.

Summary:
Using `ignore_index=True` is particularly useful when you want to combine multiple DataFrames and ensure that the resulting DataFrame has a clean, sequential index. This is often desirable in data analysis tasks where a consistent and unique index is important for further processing and analysis.

#### Setting labels to original tables
___

if we ignore the index, we can set the labels of the original tables by using the `keys` parameter. The syntax for this is as follows:

```python
pd.concat([df1, df2], axis=0, ignore_index=False, keys=['df1', 'df2'])
``` 

where
- `df1` and `df2` are the DataFrames to concatenate
- `axis=0` specifies that the concatenation should be done along the row axis
- `keys=['df1', 'df2']` specifies the labels to use for the original tables

In [ ]:
combined_df_1 = pd.concat([df1, df2], ignore_index=False, keys=['G1', 'G2'])
combined_df_1

Another Example:

In [ ]:
# concatenating the data data_page 5 and 6 when the ignore_index is set to True
all = pd.concat([df_page_5, df_page_6], axis=0, ignore_index=True)
all.head(50)

In [ ]:
# concatenating the data data_page 5 and 6 when the ignore_index is set to false
all2 = pd.concat([df_page_5, df_page_6], axis=0, ignore_index=False, keys=['label 1', 'label 2'])
all2.head()

#### Concatenate tables with different column names
___

We can concatenate tables with different column names by using the `join` parameter. The syntax for this is as follows:

```python
pd.concat([df1, df2], axis=0, join='inner')
``` 

where
- `df1` and `df2` are the DataFrames to concatenate
- `axis=0` specifies that the concatenation should be done along the row axis
- `join='inner'` specifies that only the columns that are common to both DataFrames should be included in the result

Note that is will only result the columns that are common to both DataFrames.

In [ ]:
#  check the data  and know which one to c
data_file_page_4.head()

In [ ]:
#  check the data  and know which one to c
data_file_page_2.head()

In [ ]:
# combing the data for page 4 and 6
data_join = pd.concat([data_file_page_4, data_file_page_2], axis=0, ignore_index=True, join='inner')
data_join.head()

Another example of concatenating tables with different column names is shown below is using the `sort` parameter. The syntax for this is as follows:    

```python
pd.concat([df1, df2], axis=0, sort=False)
``` 

where
- `df1` and `df2` are the DataFrames to concatenate
- `axis=0` specifies that the concatenation should be done along the row axis   
- `sort=False` specifies that the columns should not be sorted in the result

This example shows how to concatenate two DataFrames with different column names without sorting the columns in the result. By default, the columns are sorted in the result, but setting `sort=False` prevents this sorting. Again, this shows every columns in both DataFrames.

In [ ]:
data_join_1 = pd.concat([data_file_page_4, data_file_page_2], axis=0, ignore_index=True, sort=True)
data_join_1

#### What is the difference between the `merge` and `concat` functions in pandas?
_____

In `pandas`, both `merge` and `concat` are used to combine DataFrames, but they serve different purposes and are used in different scenarios. Here's a detailed explanation of when to use each:

### `merge`:
The `merge` function is used to combine two DataFrames based on one or more keys (columns). It is similar to SQL joins and is used when you need to combine DataFrames based on common columns or indices.

#### When to Use `merge`:
1. **Relational Data**: When you have relational data and need to combine DataFrames based on common columns or indices.
2. **SQL-like Joins**: When you need to perform SQL-like join operations (inner join, outer join, left join, right join).
3. **Complex Join Logic**: When you need to specify complex join logic, such as joining on multiple columns or using different column names in each DataFrame.

#### Example:

In [ ]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({
    'key': ['A', 'B', 'C'],
    'value1': [1, 2, 3]
})

df2 = pd.DataFrame({
    'key': ['A', 'B', 'D'],
    'value2': [4, 5, 6]
})

# Merge DataFrames on the 'key' column
merged_df = pd.merge(df1, df2, on='key', how='inner')
print(merged_df)



### `concat`:
The `concat` function is used to concatenate DataFrames along a particular axis (rows or columns). It is used when you need to stack DataFrames either vertically (row-wise) or horizontally (column-wise).

#### When to Use `concat`:
1. **Stacking DataFrames**: When you need to stack DataFrames vertically (one below the other) or horizontally (side by side).
2. **Appending DataFrames**: When you need to append one DataFrame to another.
3. **Combining Along an Axis**: When you need to combine DataFrames along a specific axis without considering keys or indices.

#### Example:

In [ ]:
import pandas as pd

# Sample DataFrames
df1 = pd.DataFrame({
    'A': [1, 2, 3],
    'B': ['a', 'b', 'c']
})

df2 = pd.DataFrame({
    'A': [4, 5, 6],
    'B': ['d', 'e', 'f']
})

# Concatenate DataFrames vertically (row-wise)
concat_df = pd.concat([df1, df2], axis=0)
print(concat_df)
print()

# Concatenate DataFrames horizontally (column-wise)
concat_df_horizontal = pd.concat([df1, df2], axis=1)
print(concat_df_horizontal)



### Summary:
- **Use `merge`**:
  - When you need to combine DataFrames based on common columns or indices.
  - When performing SQL-like join operations (inner, outer, left, right joins).
  - When you need to specify complex join logic.

- **Use `concat`**:
  - When you need to stack DataFrames vertically or horizontally.
  - When appending one DataFrame to another.
  - When combining DataFrames along a specific axis without considering keys or indices.

By understanding the differences and use cases for `merge` and `concat`, you can choose the appropriate method for combining DataFrames based on your specific requirements.

## 9. Verifying Integrity When Joining Data with Pandas
____

When working with data, especially in data science and analytics, joining datasets is a common task. However, ensuring the integrity of your data during these joins is crucial to avoid introducing errors or inconsistencies. This section will provide a comprehensive overview of how to verify data integrity when joining data using Pandas.

####  Key Concepts in Data Integrity Verification

1. Understanding Joins:

* Inner Join: Returns rows that have matching values in both DataFrames.
* Left Join: Returns all rows from the left DataFrame and matched rows from the right DataFrame; unmatched rows have NaN.
* Right Join: Returns all rows from the right DataFrame and matched rows from the left DataFrame; unmatched rows have NaN.
* Outer Join: Returns all rows when there is a match in either DataFrame; unmatched areas are filled with NaN.

2. Data Integrity Issues in Joins:

* Duplicated Keys: Occurs when there are duplicate values in the key column(s), leading to unintended row duplication in the merged DataFrame.
* Missing Keys: Can result in missing data when performing joins; for instance, missing rows in an inner join or missing values in left or right joins.
* Incorrect Matching: When joins do not behave as expected due to data types or incorrect columns being used.

3. Verifying Join Integrity in Pandas: 
Pandas provides built-in mechanisms to ensure the integrity of joins, preventing errors from unnoticed duplicates or missing values.

* Using validate Parameter in merge: The validate parameter allows you to check the assumptions of your merge operation:
- 'one_to_one': Ensures that both DataFrames have unique values in the join columns.

- 'one_to_many': Ensures that the left DataFrame has unique values in the join column, but the right DataFrame can have duplicates.

- 'many_to_one': Ensures that the right DataFrame has unique values in the join column, but the left DataFrame can have duplicates.

- 'many_to_many': Allows duplicates in both DataFrames (default behavior).

The syntax for using the validate parameter is as follows:

```python
df1.merge(df2, on='column_name', how='inner', validate='one_to_one')
```
where df1 and df2 are the DataFrames to join, column_name is the column name to join the DataFrames on, how='inner' specifies that we want to perform an inner join, and validate='one_to_one' ensures that the join is one-to-one.

In [ ]:

df1 = pd.DataFrame({'key': ['A', 'B', 'C'], 'value1': [1, 2, 3]})
df1

In [ ]:
df2 = pd.DataFrame({'key': ['A', 'B', 'B'], 'value2': [4, 5, 6]})
df2

In [ ]:
# Merge with validation
merged_df = pd.merge(df1, df2, on='key', how='inner', validate='one_to_one')

This code would raise an error because df2 has duplicated values for 'B', violating the one_to_one validation rule.

#### Handling Common Integrity Issues:

1. Duplicated Keys: Use the `drop_duplicates()` method before merging if you want to ensure unique keys in your DataFrame.

In [ ]:
df1.drop_duplicates(subset=['key'], inplace=True)
df1

2. Missing Keys: After merging, you can use the `isnull()` function to check for missing values, indicating unmatched rows.

In [ ]:
missing = merged_df.isnull().any(axis=1)
print(merged_df[missing])

3. Data Type Consistency: Ensure that the data types of your joining keys are consistent across DataFrames to avoid unexpected results.

In [ ]:
# check data types of the data
print(df1.dtypes)
print(df2.dtypes)

In [20]:
# Convert Data Types if Necessary: Convert 'key' to string 
df1['key'] = df1['key'].astype(str)
df2['key'] = df2['key'].astype(str)

4. Assessing Join Results: After performing a join, it’s essential to assess the merged DataFrame:

In [ ]:
print(f"Original Row Count: {len(df1)}, Merged Row Count: {len(merged_df)}")

### Verifying concatenations

The `verify_integrity` parameter in the `concat()` function allows you to check for duplicate indices in the concatenated DataFrame. By setting `verify_integrity=True`, you can ensure that the resulting DataFrame has unique indices, preventing potential issues. The default value for `verify_integrity` is `False`, meaning that the check is not performed by default.

The syntax for using the `verify_integrity` parameter is as follows:

```python
pd.concat([df1, df2], verify_integrity=True)
```

In [ ]:
df_page_1

In [ ]:
df_page_2

In [ ]:
# concatenate the data for page 1 and 2 with the verification of the data 
verify = pd.concat([df_page_1, df_page_2], axis=1, ignore_index=True, verify_integrity=True)
verify.head()

In [ ]:
# concatenate the data for page 1 and 2 with the verification of the data 
verify = pd.concat([df_page_1, df_page_2], axis=0, ignore_index=True, verify_integrity=False)
verify.head()

## 10. Using merge_ordered()
___

The `merge_ordered()` function in pandas is used to merge two DataFrames based on the order of the keys. This function is particularly useful when you need to merge time series or ordered data where the order of the keys is important.

The syntax for using `merge_ordered()` is as follows:

```python
pd.merge_ordered(df1, df2, on='column_name', how='outer', fill_method='ffill')
```

where
- `df1` and `df2` are the DataFrames to merge
- `column_name` is the column to merge on
- `how='outer'` specifies that an outer join should be performed
- `fill_method='ffill'` specifies the method to use for filling missing values

The `merge_ordered()` function is similar to the `merge()` function in pandas, but it is specifically designed for merging ordered data. It allows you to merge two DataFrames based on the order of the keys, which can be useful when working with time series data or other ordered data.

In [ ]:
file_path_1 = r'/Users/teslim/OneDrive/generaldata/18-mutual_raw_data.xls'

df_10_page_8 = pd.read_excel(file_path_1, sheet_name=9)
df_10_page_8

In [ ]:
df_10_page_8.info()

In [ ]:
df_10_page_9 = pd.read_excel(file_path_1, sheet_name=10)
df_10_page_9.head()

In [ ]:
# merging the stock data for page 8 and 9

stock = pd.merge_ordered(df_10_page_8, df_10_page_9, on='Date', suffixes=('_8', '_9'), fill_method='ffill')
stock.head()

In [ ]:
stock.info()

In [ ]:
stock_merge = df_10_page_8.merge(df_10_page_9, on='Date')
stock_merge.head()

In [ ]:
df_10_page_8[['Open', 'Adj Close']].plot(x = 'Open', y = 'Adj Close', kind = 'scatter')

## 11. Using merge_asof( )
___

The `merge_asof()` function in `pandas` is used to perform an asof merge, which is similar to a left join but for ordered data. This function is particularly useful for time series data where you want to merge on the nearest key rather than an exact match.

### Key Points:
- **Ordered Data**: The data must be ordered by the key before performing the merge.
- **Nearest Key**: Merges on the nearest key rather than an exact match.
- **Tolerance**: You can specify a tolerance to limit the distance between keys.

### Syntax:

```python
pd.merge_asof(left, right, on=None, left_on=None, right_on=None, 
              by=None, left_by=None, right_by=None, 
              suffixes=('_x', '_y'), 
              tolerance=None, allow_exact_matches=True, direction='backward')



### Parameters:
- **left**: DataFrame.
- **right**: DataFrame.
- **on**: Column name to join on. Must be ordered.
- **left_on**: Column name from the left DataFrame to join on.
- **right_on**: Column name from the right DataFrame to join on.
- **by**: Column name to group by before merging.
- **left_by**: Column name from the left DataFrame to group by.
- **right_by**: Column name from the right DataFrame to group by.
- **suffixes**: Suffix to apply to overlapping column names.
- **tolerance**: Maximum distance between keys for a match.
- **allow_exact_matches**: Whether to allow exact matches.
- **direction**: Direction of the merge ('backward', 'forward', or 'nearest').

### Example:
Here is an example of how to use `merge_asof()`:

In [ ]:
# left Sample DataFrames
left = pd.DataFrame(
    {'time': pd.to_datetime(['2021-01-01 09:00', '2021-01-01 09:01', '2021-01-01 09:02']),
    'value': [1, 2, 3]})


# Ensure the data is sorted by the key
left = left.sort_values('time')

print(left)

In [ ]:
# Right Sample DataFrames
right = pd.DataFrame({
    'time': pd.to_datetime(['2021-01-01 09:00', '2021-01-01 09:01', '2021-01-01 09:03']),
    'value': [10, 20, 30]
})

# Ensure the data is sorted by the key
right = right.sort_values(by='time')

print(right)

In [ ]:
# Perform an asof merge
merged = pd.merge_asof(left, right, on='time', suffixes=('_left', '_right'))
print(merged)



### Explanation:
- **DataFrames**: Two DataFrames `left` and `right` with time series data.
- **Sorting**: Ensure both DataFrames are sorted by the key column (`time`).
- **Merge**: Use `merge_asof()` to merge on the nearest key (`time`).

### Summary:
- **`merge_asof()`**: Useful for merging time series data on the nearest key.
- **Ordered Data**: Ensure the data is ordered by the key column.
- **Parameters**: Customize the merge with parameters like `tolerance` and `direction`.

By using `merge_asof()`, you can effectively merge time series data based on the nearest key, making it a powerful tool for handling ordered data in `pandas`.

____

Sure! Let's use the [`right`](command:_github.copilot.openSymbolFromReferences?%5B%22%22%2C%5B%7B%22uri%22%3A%7B%22scheme%22%3A%22vscode-notebook-cell%22%2C%22authority%22%3A%22%22%2C%22path%22%3A%22%2FUsers%2Fteslim%2FLibrary%2FCloudStorage%2FOneDrive-TeslimUthmanAdeyanju%2FTeslim_data_science_study%2Fnote_3_python_language%2FTeslim_python_study_note%2FTeslim_python_datacamp%2Fpython_data_camp_code_workspace%2FSession-4-Joining_data_with_pandas.ipynb%22%2C%22query%22%3A%22%22%2C%22fragment%22%3A%22Y235sZmlsZQ%3D%3D%22%7D%2C%22pos%22%3A%7B%22line%22%3A1%2C%22character%22%3A0%7D%7D%5D%2C%22fc59d8c8-fb73-4a24-8135-f82233c44ed6%22%5D "Go to definition") DataFrame you provided and create a `left` DataFrame to demonstrate the `merge_asof()` function with both `backward` and `forward` directions.

### Sample DataFrames:

In [ ]:
import pandas as pd

# Right Sample DataFrame
right = pd.DataFrame({
    'time': pd.to_datetime(['2021-01-01 09:00', '2021-01-01 09:01', '2021-01-01 09:03']),
    'value': [10, 20, 30]
})

# Left Sample DataFrame
left = pd.DataFrame({
    'time': pd.to_datetime(['2021-01-01 08:59', '2021-01-01 09:01', '2021-01-01 09:02']),
    'value': [1, 2, 3]
})

# Ensure the data is sorted by the key
right = right.sort_values(by='time')
left = left.sort_values(by='time')

print("Right DataFrame:")
print(right)
print("\nLeft DataFrame:")
print(left)



### Backward Merge:
In a backward merge, each row in the `left` DataFrame will be matched with the nearest previous row in the [`right`](command:_github.copilot.openSymbolFromReferences?%5B%22%22%2C%5B%7B%22uri%22%3A%7B%22scheme%22%3A%22vscode-notebook-cell%22%2C%22authority%22%3A%22%22%2C%22path%22%3A%22%2FUsers%2Fteslim%2FLibrary%2FCloudStorage%2FOneDrive-TeslimUthmanAdeyanju%2FTeslim_data_science_study%2Fnote_3_python_language%2FTeslim_python_study_note%2FTeslim_python_datacamp%2Fpython_data_camp_code_workspace%2FSession-4-Joining_data_with_pandas.ipynb%22%2C%22query%22%3A%22%22%2C%22fragment%22%3A%22Y235sZmlsZQ%3D%3D%22%7D%2C%22pos%22%3A%7B%22line%22%3A1%2C%22character%22%3A0%7D%7D%5D%2C%22fc59d8c8-fb73-4a24-8135-f82233c44ed6%22%5D "Go to definition") DataFrame.

In [ ]:
# Perform an asof merge with direction='backward'
merged_backward = pd.merge_asof(left, right, on='time', direction='backward', suffixes=('_left', '_right'))
print("\nMerged DataFrame (Backward):")
print(merged_backward)



### Forward Merge:
In a forward merge, each row in the `left` DataFrame will be matched with the nearest subsequent row in the [`right`](command:_github.copilot.openSymbolFromReferences?%5B%22%22%2C%5B%7B%22uri%22%3A%7B%22scheme%22%3A%22vscode-notebook-cell%22%2C%22authority%22%3A%22%22%2C%22path%22%3A%22%2FUsers%2Fteslim%2FLibrary%2FCloudStorage%2FOneDrive-TeslimUthmanAdeyanju%2FTeslim_data_science_study%2Fnote_3_python_language%2FTeslim_python_study_note%2FTeslim_python_datacamp%2Fpython_data_camp_code_workspace%2FSession-4-Joining_data_with_pandas.ipynb%22%2C%22query%22%3A%22%22%2C%22fragment%22%3A%22Y235sZmlsZQ%3D%3D%22%7D%2C%22pos%22%3A%7B%22line%22%3A1%2C%22character%22%3A0%7D%7D%5D%2C%22fc59d8c8-fb73-4a24-8135-f82233c44ed6%22%5D "Go to definition") DataFrame.

In [ ]:
# Perform an asof merge with direction='forward'
merged_forward = pd.merge_asof(left, right, on='time', direction='forward', suffixes=('_left', '_right'))
print("\nMerged DataFrame (Forward):")
print(merged_forward)



### Complete Example:
Here is the complete code snippet:

In [ ]:
import pandas as pd

# Right Sample DataFrame
right = pd.DataFrame({
    'time': pd.to_datetime(['2021-01-01 09:00', '2021-01-01 09:01', '2021-01-01 09:03']),
    'value': [10, 20, 30]
})

# Left Sample DataFrame
left = pd.DataFrame({
    'time': pd.to_datetime(['2021-01-01 08:59', '2021-01-01 09:01', '2021-01-01 09:02']),
    'value': [1, 2, 3]
})

# Ensure the data is sorted by the key
right = right.sort_values(by='time')
left = left.sort_values(by='time')

print("Right DataFrame:")
print(right)
print("\nLeft DataFrame:")
print(left)

# Perform an asof merge with direction='backward'
merged_backward = pd.merge_asof(left, right, on='time', direction='backward', suffixes=('_left', '_right'))
print("\nMerged DataFrame (Backward):")
print(merged_backward)

# Perform an asof merge with direction='forward'
merged_forward = pd.merge_asof(left, right, on='time', direction='forward', suffixes=('_left', '_right'))
print("\nMerged DataFrame (Forward):")
print(merged_forward)



### Explanation:
- **Backward Merge**: Matches each row in `left` with the nearest previous row in [`right`](command:_github.copilot.openSymbolFromReferences?%5B%22%22%2C%5B%7B%22uri%22%3A%7B%22scheme%22%3A%22vscode-notebook-cell%22%2C%22authority%22%3A%22%22%2C%22path%22%3A%22%2FUsers%2Fteslim%2FLibrary%2FCloudStorage%2FOneDrive-TeslimUthmanAdeyanju%2FTeslim_data_science_study%2Fnote_3_python_language%2FTeslim_python_study_note%2FTeslim_python_datacamp%2Fpython_data_camp_code_workspace%2FSession-4-Joining_data_with_pandas.ipynb%22%2C%22query%22%3A%22%22%2C%22fragment%22%3A%22Y235sZmlsZQ%3D%3D%22%7D%2C%22pos%22%3A%7B%22line%22%3A1%2C%22character%22%3A0%7D%7D%5D%2C%22fc59d8c8-fb73-4a24-8135-f82233c44ed6%22%5D "Go to definition").
- **Forward Merge**: Matches each row in `left` with the nearest subsequent row in [`right`](command:_github.copilot.openSymbolFromReferences?%5B%22%22%2C%5B%7B%22uri%22%3A%7B%22scheme%22%3A%22vscode-notebook-cell%22%2C%22authority%22%3A%22%22%2C%22path%22%3A%22%2FUsers%2Fteslim%2FLibrary%2FCloudStorage%2FOneDrive-TeslimUthmanAdeyanju%2FTeslim_data_science_study%2Fnote_3_python_language%2FTeslim_python_study_note%2FTeslim_python_datacamp%2Fpython_data_camp_code_workspace%2FSession-4-Joining_data_with_pandas.ipynb%22%2C%22query%22%3A%22%22%2C%22fragment%22%3A%22Y235sZmlsZQ%3D%3D%22%7D%2C%22pos%22%3A%7B%22line%22%3A1%2C%22character%22%3A0%7D%7D%5D%2C%22fc59d8c8-fb73-4a24-8135-f82233c44ed6%22%5D "Go to definition").

By using `merge_asof()` with different `direction` parameters, you can control how the nearest key is selected for merging time series data.

## 12. Selecting data with df.query()
___

The `df.query()` function in `pandas` provides a way to query a DataFrame using a boolean expression. This method is useful for filtering rows based on conditions and can make your code more readable and concise compared to using boolean indexing.

### Syntax:

```python
DataFrame.query(expr, inplace=False, **kwargs)
```



### Parameters:
- **expr**: The query string to evaluate. This string should be a valid Python expression.
- **inplace** (optional): If `True`, modifies the DataFrame in place. Default is `False`.
- **kwargs**: Additional keyword arguments to pass to the query method.

In [ ]:
data_file_page_1.head()

In [ ]:
data_file_page_1.info()

In [ ]:
data_file_page_1.columns = data_file_page_1.columns.str.strip().str.lower().str.replace(' ', '_')
data_file_page_1.head()

In [ ]:
# checking a beta value greater than 0.5
data_file_page_1.query('beta > 0.5').head()

In [ ]:
# checking a return value greater than 0.5
data_file_page_1.query('returns > 0.05').head()

In [ ]:
# querying on amultple condition usin the and operator
data_file_page_1.query('returns > 0.05 and beta > 0.5').head()

In [ ]:
data_file_page_1.query('returns > 0.05 or beta > 0.5').head()

## 13. Reshaping data with df.melt()
___

The df.melt() function is used to change the DataFrame format from wide to long. The function takes the following parameters:
    
```python
    pd.melt(frame, id_vars=None, value_vars=None, var_name=None, value_name='value', col_level=None)
```
    


- **frame**: The DataFrame to be melted.
- **id_vars**: Columns to use as identifier variables (columns that will remain unchanged).
- **value_vars**: Columns to unpivot (columns that will be melted).
- **var_name**: Name to use for the variable column.
- **value_name**: Name to use for the value column.
- **col_level**: If columns are MultiIndex, use this level to melt.

The `melt()` function is useful for reshaping data when you want to convert wide-format data to long-format data. This can be helpful for various data analysis and visualization tasks.

In [ ]:
# loading of the dataset 
uk_election = pd.read_excel(r'/Users/teslim/OneDrive/generaldata/1_uk_2024_election.xlsx', sheet_name=4)
uk_election.head()

In [ ]:
# checking the data type of the data
uk_election.info()

In [ ]:
# meting the data base on the region and constituency
uk_wide_data = uk_election.melt(id_vars=['Constituency', 'Region'])
uk_wide_data.head()

In [ ]:
# Loadig the data for from the previous page
data_file_page_1.head()

In [ ]:
# melting the data base on the fund_id and beta
data_file_page_1.melt(id_vars=['fund_id', 'beta'])

it will be notice that the pandas add variable and value columns to the DataFrame, where the variable column contains the original `column names` that were melted, and the value column contains the corresponding `values`.

The Melting with value_vars parameter is used to specify the columns that should be melted. This parameter allows you to select specific columns to unpivot, while the remaining columns will remain unchanged.

In [ ]:
uk_election

In [ ]:
data_file_page_1.melt(id_vars=['fund_id', 'beta'], value_vars=['returns', 'riskfreerate'])

_____



### Parameters:
- **id_vars**: Columns to use as identifier variables.
- **value_vars**: Columns to unpivot. If not specified, all columns not set as [`id_vars`](command:_github.copilot.openSymbolFromReferences?%5B%22%22%2C%5B%7B%22uri%22%3A%7B%22scheme%22%3A%22vscode-notebook-cell%22%2C%22authority%22%3A%22%22%2C%22path%22%3A%22%2FUsers%2Fteslim%2FLibrary%2FCloudStorage%2FOneDrive-TeslimUthmanAdeyanju%2FTeslim_data_science_study%2Fnote_3_python_language%2FTeslim_python_study_note%2FTeslim_python_datacamp%2Fpython_data_camp_code_workspace%2FSession-4-Joining_data_with_pandas.ipynb%22%2C%22query%22%3A%22%22%2C%22fragment%22%3A%22Y302sZmlsZQ%3D%3D%22%7D%2C%22pos%22%3A%7B%22line%22%3A1%2C%22character%22%3A22%7D%7D%5D%2C%228436c726-de00-407a-9b3e-04bb3d1e7258%22%5D "Go to definition") are used.
- **var_name**: Name to use for the ‘variable’ column. If None, uses `variable`.
- **value_name**: Name to use for the ‘value’ column. If None, uses `value`.

### Example DataFrame:
Let's assume [`data_file_page_1`](command:_github.copilot.openSymbolFromReferences?%5B%22%22%2C%5B%7B%22uri%22%3A%7B%22scheme%22%3A%22vscode-notebook-cell%22%2C%22authority%22%3A%22%22%2C%22path%22%3A%22%2FUsers%2Fteslim%2FLibrary%2FCloudStorage%2FOneDrive-TeslimUthmanAdeyanju%2FTeslim_data_science_study%2Fnote_3_python_language%2FTeslim_python_study_note%2FTeslim_python_datacamp%2Fpython_data_camp_code_workspace%2FSession-4-Joining_data_with_pandas.ipynb%22%2C%22query%22%3A%22%22%2C%22fragment%22%3A%22Y302sZmlsZQ%3D%3D%22%7D%2C%22pos%22%3A%7B%22line%22%3A1%2C%22character%22%3A0%7D%7D%5D%2C%228436c726-de00-407a-9b3e-04bb3d1e7258%22%5D "Go to definition") is as follows:

In [ ]:
import pandas as pd

data = {
    'fund_id': [1, 2, 3],
    'beta': [0.5, 0.6, 0.7],
    'returns': [10, 20, 30],
    'riskfreerate': [1, 2, 3],
    'alpha': [0.1, 0.2, 0.3]
}

data_file = pd.DataFrame(data)
print(data_file)



### Using [`melt`](command:_github.copilot.openSymbolFromReferences?%5B%22%22%2C%5B%7B%22uri%22%3A%7B%22scheme%22%3A%22vscode-notebook-cell%22%2C%22authority%22%3A%22%22%2C%22path%22%3A%22%2FUsers%2Fteslim%2FLibrary%2FCloudStorage%2FOneDrive-TeslimUthmanAdeyanju%2FTeslim_data_science_study%2Fnote_3_python_language%2FTeslim_python_study_note%2FTeslim_python_datacamp%2Fpython_data_camp_code_workspace%2FSession-4-Joining_data_with_pandas.ipynb%22%2C%22query%22%3A%22%22%2C%22fragment%22%3A%22Y302sZmlsZQ%3D%3D%22%7D%2C%22pos%22%3A%7B%22line%22%3A1%2C%22character%22%3A17%7D%7D%5D%2C%228436c726-de00-407a-9b3e-04bb3d1e7258%22%5D "Go to definition") without `value_vars`:

In [ ]:
melted_df = data_file.melt(id_vars=['fund_id', 'beta'])
print(melted_df)



### Using [`melt`](command:_github.copilot.openSymbolFromReferences?%5B%22%22%2C%5B%7B%22uri%22%3A%7B%22scheme%22%3A%22vscode-notebook-cell%22%2C%22authority%22%3A%22%22%2C%22path%22%3A%22%2FUsers%2Fteslim%2FLibrary%2FCloudStorage%2FOneDrive-TeslimUthmanAdeyanju%2FTeslim_data_science_study%2Fnote_3_python_language%2FTeslim_python_study_note%2FTeslim_python_datacamp%2Fpython_data_camp_code_workspace%2FSession-4-Joining_data_with_pandas.ipynb%22%2C%22query%22%3A%22%22%2C%22fragment%22%3A%22Y302sZmlsZQ%3D%3D%22%7D%2C%22pos%22%3A%7B%22line%22%3A1%2C%22character%22%3A17%7D%7D%5D%2C%228436c726-de00-407a-9b3e-04bb3d1e7258%22%5D "Go to definition") with `value_vars`:

In [ ]:
melted_df = data_file.melt(id_vars=['fund_id', 'beta'], value_vars=['returns', 'riskfreerate'])
print(melted_df)



### Differences:
1. **Without `value_vars`**:
   - All columns not specified in [`id_vars`](command:_github.copilot.openSymbolFromReferences?%5B%22%22%2C%5B%7B%22uri%22%3A%7B%22scheme%22%3A%22vscode-notebook-cell%22%2C%22authority%22%3A%22%22%2C%22path%22%3A%22%2FUsers%2Fteslim%2FLibrary%2FCloudStorage%2FOneDrive-TeslimUthmanAdeyanju%2FTeslim_data_science_study%2Fnote_3_python_language%2FTeslim_python_study_note%2FTeslim_python_datacamp%2Fpython_data_camp_code_workspace%2FSession-4-Joining_data_with_pandas.ipynb%22%2C%22query%22%3A%22%22%2C%22fragment%22%3A%22Y302sZmlsZQ%3D%3D%22%7D%2C%22pos%22%3A%7B%22line%22%3A1%2C%22character%22%3A22%7D%7D%5D%2C%228436c726-de00-407a-9b3e-04bb3d1e7258%22%5D "Go to definition") are unpivoted.
   - In the example, columns `returns`, `riskfreerate`, and `alpha` are unpivoted.

2. **With `value_vars`**:
   - Only the columns specified in `value_vars` are unpivoted.
   - In the example, only columns `returns` and `riskfreerate` are unpivoted, and `alpha` is excluded.

### Summary:
- **Without `value_vars`**: All columns not in [`id_vars`](command:_github.copilot.openSymbolFromReferences?%5B%22%22%2C%5B%7B%22uri%22%3A%7B%22scheme%22%3A%22vscode-notebook-cell%22%2C%22authority%22%3A%22%22%2C%22path%22%3A%22%2FUsers%2Fteslim%2FLibrary%2FCloudStorage%2FOneDrive-TeslimUthmanAdeyanju%2FTeslim_data_science_study%2Fnote_3_python_language%2FTeslim_python_study_note%2FTeslim_python_datacamp%2Fpython_data_camp_code_workspace%2FSession-4-Joining_data_with_pandas.ipynb%22%2C%22query%22%3A%22%22%2C%22fragment%22%3A%22Y302sZmlsZQ%3D%3D%22%7D%2C%22pos%22%3A%7B%22line%22%3A1%2C%22character%22%3A22%7D%7D%5D%2C%228436c726-de00-407a-9b3e-04bb3d1e7258%22%5D "Go to definition") are melted.
- **With `value_vars`**: Only the specified columns in `value_vars` are melted.

Using `value_vars` allows you to control which columns are unpivoted, providing more flexibility in reshaping your DataFrame.

____

We can change the variable and value column names by using the `var_name` and `value_name` parameters in the `melt()` function. The syntax for this is as follows:

```python
pd.melt(frame, id_vars=['id'], value_vars=['A', 'B'], var_name='variable', value_name='value')
``` 

where
- `frame` is the DataFrame to melt
- `id_vars=['id']` specifies the columns to use as identifier variables
- `value_vars=['A', 'B']` specifies the columns to unpivot
- `var_name='variable'` specifies the name to use for the variable column
- `value_name='value'` specifies the name to use for the value column

In [ ]:
# melt the data for the uk election data
uk_election.melt(id_vars=['Constituency', 'Region'], value_vars=['GE2019 Implied results: Electorate'], 
                 var_name= 'Green Policy', value_name='Green Policy Value')