# SET

## Introduction
___

* Sets are used to store multiple items in a single variable.
* Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.
* A set is a collection which is unordered, unchangeable*, and un-indexed
* Sets are written with curly brackets <code> {}</code>
* Set items are unordered, unchangeable, and do not allow duplicate value.
* Set items are unchangeable, meaning that we cannot change the items after the set has been created.
* Sets cannot have two items with the same value.
* To determine how many items a set has, use the len() function.
* It is also possible to use the <code> set()</code> constructor to make a set.

In [1]:
# Sets are unordered, so you cannot be sure in which order the items will appear.
x = {'foo', 'bar', 'baz', 'foo', 'qux'}
print(x)

{'qux', 'foo', 'baz', 'bar'}

In [2]:
# Duplicate values will be ignored
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'apple', 'banana', 'cherry'}

In [4]:
# True and 1 is considered the same value:Thus, the set will only contain one item
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{True, 2, 'apple', 'banana', 'cherry'}

In [5]:
#  The values False and 0 are considered the same value in sets, and are treated as duplicates:
thisset = {"apple", "banana", "cherry", False, True, 0}
print(thisset)

{False, True, 'apple', 'banana', 'cherry'}

In [8]:
# Set items can be of any data type:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(type(set1))
print(type(set2))
print(type(set3))

<class 'set'>
<class 'set'>
<class 'set'>

In [10]:
# A set with strings, integers and boolean values:
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 'male', 40, 'abc'}

In [11]:
# using the set() constructor to make a set
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'apple', 'banana', 'cherry'}

## Python Collections (Arrays)
___

There are four collection data types in the Python programming language:

* List is a collection which is ordered and changeable. Allows duplicate members.
* Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
* Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
* Dictionary is a collection which is ordered** and changeable. No duplicate members.


- Set items are unchangeable, but you can remove items and add new items.

When choosing a collection type, it is useful to understand the properties of that type. Choosing the right type for a particular data set could mean retention of meaning, and, it could mean an increase in efficiency or security.

## Python - Access Set Items
___

* Access Items: You cannot access items in a set by referring to an index or a key.
* But you can loop through the set items using a <code>for</code> loop, or ask if a specified value is present in a set, by using the <code>in </code>keyword.

In [12]:
# looping through a set, and print the values:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [13]:
list = set(("apple", "banana", "cherry"))
for x in list:
  print(x)

apple
banana
cherry

In [14]:
# Check if "banana" is present in the set: Using the in keyword
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

## Python - Change items in a Set
___

* Once a set is created, you cannot change its items, but you can add new items.

## Add Item to set
___

* To add one item to a set use the <code>add()</code> method.

In [15]:
# Add an item to a set, using the add() method:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'apple', 'banana', 'cherry'}

* Adding two set together: use the <code>update()</code> method.

In [16]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'papaya', 'apple', 'banana', 'cherry', 'pineapple', 'mango'}

* Add any iterable: The object in the <code>update()</code> method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [17]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist) # Note that this does include inverted commas
print(thisset)

{'kiwi', 'apple', 'orange', 'banana', 'cherry'}

## Python - Remove Set Items
___

* Remove items: To remove an items in a set, use the <code>remove()</code> or the <code>discard</code> method

In [18]:
# Remove "banana" by using the remove() method:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'apple', 'cherry'}

In [19]:
# Remove "banana" by using the discard() method:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}

* You can equally use <code>pop ()</code> method to remove an item but this method will remove at random because set is at un-ordered number, and you cannnot be sure which item will be remove.

In [20]:
# Using the pop() method to remove an item, but this method will remove the last item.
# Remember that sets are unordered, so you will not know what item that gets removed.
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

apple
{'banana', 'cherry'}

* Use the <code>clear</code> to empty the set

In [21]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

* Use the <code>del</code> keyword to delete the set completely.

In [22]:
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

## Python - Join Sets
___

* Join Two Set: There are several ways to join two or more sets in Python.
* You can use the <code>union()</code> method that returns a new set containing all items from both sets, or the <code>update()</code> method that inserts all the items from one set into another:
* * Note: Both <code>union()</code> and <code>update()</code> will exclude any duplicate items.

In [25]:
# Join two sets:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3, "a"}
set3 = set1.union(set2)
print(set3)

{1, 'b', 2, 3, 'a', 'c'}

In [24]:
# The update() method that will insert items from one set into another:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{1, 'b', 2, 3, 'a', 'c'}

* __Keep ONLY the Duplicate:__ The <code>intersection_update()</code> method will keep only the items that are present in both set

In [38]:
# keep the items that exist in both set x, and set y:
x = {"apple", "banana", "cherry", "mango"}
y = {"google", "microsoft", "apple", "mango"}
result = x.intersection_update(y)
print(x) # Note that the print will be on x, not result

{'mango', 'apple'}

 The <code>intersection_update</code> method on the set x with y as the argument.   
 The intersection_update method updates the set calling it (in this case x) with the intersection of itself and another set (in this case y).   
 The intersection of two sets is a new set that contains all elements that are in both sets. In this case, the only common element between x and y is "apple", so after the intersection_update call, x is updated to be {"apple"}.

In [36]:
# keep the items that exist in both set x, and set y:
x = {"apple", "banana", "cherry", "mango"}
y = {"google", "microsoft", "apple", "mango"}
z = x.intersection_update(y)
print(z) # Note that if we print z, it will be none as the intersection_update() method will return None

None

* The <code>intersection ()</code> method will return a new set that contains the items that are present in both set

In [37]:
A = {1, 2, 3, 4}
B = {2, 3, 4, 5}
result = A.intersection(B)
print(result) # Note that the print is on the result and not on A

{2, 3, 4}

In [34]:
A = {1, 2, 3, 4}
B = {2, 3, 4, 5}
result = A.intersection_update(B)
print(B)

{2, 3, 4, 5}

* __Keep All, But NOT the Duplicates:__ The <code>symmetric_difference_update()</code> method will keep only the elements that are NOT present in both sets.

In [41]:
# keep the items that are not present in both sets:
x = {"apple", "banana", "cherry", "mango"}
y = {"google", "microsoft", "apple", "mango"}
result = x.symmetric_difference_update(y)
print(x)

{'microsoft', 'google', 'banana', 'cherry'}

* The <code>symmetric_difference()</code> method will return a new set, that contains only the elements that are NOT present in both sets.

In [42]:
# Return a set that contains all items from both sets, except items that are present in both sets:
x = {"apple", "banana", "cherry", "mango"}
y = {"google", "microsoft", "apple", "mango"}
result = x.symmetric_difference(y)
print(result)

{'microsoft', 'banana', 'cherry', 'google'}

## Python - Set Methods 
___


Here is a list of all the built-in methods that you can use on sets in Python:

1. add(element): Adds an element to the set.
  
1. clear(): Removes all the elements from the set.

1. copy(): Returns a copy of the set.

1. difference(set): Returns a set containing the difference between two or more sets.

1. difference_update(set): Removes the items in this set that are also included in another, specified set.

1. discard(element): Removes the specified item from the set if it is present.

1. intersection(set): Returns a set, that is the intersection of two other sets.

1. intersection_update(set): Removes the items in this set that are not present in other, specified set(s).

1. isdisjoint(set): Returns whether two sets have a intersection or not.

1. issubset(set): Returns whether another set contains this set or not.

1. issuperset(set): Returns whether this set contains another set or not.

1. pop(): Removes an arbitrary element from the set.

1. remove(element): Removes the specified element from the set.

1. symmetric_difference(set): Returns a set with the symmetric differences of two sets.

1. symmetric_difference_update(set): Inserts the symmetric differences from this set and another.

1. union(set): Returns a set containing the union of sets.

1. update(set): Updates the set with the union of this set and others.